[user]
	name = James Kavanaugh
	email = james@dangerginger.com
[pull]
	rebase = true
[core]
	excludesfile = /Users/dangerginger/.gitignore
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
